<!DOCTYPE html>
<html>
<head>
    <title>FYP Political Classifier</title>
</head>
<body>
    <h1>Test Ayat</h1>

    <textarea id="text" rows="6" cols="70"
      placeholder="Taip ayat dekat sini..."></textarea>
    <br><br>

    <button onclick="sendText()">Predict</button>

    <h3>Output</h3>
    <pre id="result">{}</pre>

    <script>
      async function sendText() {
        const text = document.getElementById("text").value;

        const res = await fetch("/predict", {
          method: "POST",
          headers: {"Content-Type": "application/json"},
          body: JSON.stringify({ text: text })
        });

        const data = await res.json();
        document.getElementById("result").innerText =
          JSON.stringify(data, null, 2);
      }
    </script>
</body>
</html>
